{{> menu}}

<form class="box"  action="/sighting/{{spot._id}}/updatesighting/{{sighting._id}}" method="POST">
  <label>Update sighting Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title", value="{{sighting.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="description" value="{{sighting.description}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="season" value="{{sighting.season}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update sighting</button>
</form>

