<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Animal Species</th>
      <th>Animal Description</th>
      <th>Sighting Season</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each spot.sightings}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <a href="/sighting/{{../spot._id}}/editsighting/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/spot/{{../spot._id}}/deletesighting/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
