{{!-- Adding in bulma cards to restructure the dashboard page --}}

<div>

  {{#each spots}}

  <div class="column is-one-third">

    <div class="card mb-5 has-background-grey-light">

      <div>
        <figure class="image is-4by3">
          <img src="{{image}}" alt="Observation Spot Image">
        </figure>
      </div>

      <div class="card-content">

        <p class="title is-4">
          {{title}}
        </p>

        <p>
          <strong>Description:</strong>{{description}}
        </p>

        <p>
          <strong>Category:</strong>{{category}}
        </p>

         <p>
          <strong>Latitude:</strong>{{latitude}}
        </p>
         <p>
          <strong>Longitude:</strong>{{longitude}}
        </p>


        <br>

        <a href="/spot/{{_id}}" class="button is-link is-small">
          View Sightings
        </a>

        <a href="/dashboard/deletespot/{{_id}}" class="button is-danger is-small">
          Delete
        </a>

      </div>
    </div>{{!-card content end --}}
  </div>{{!-column is one third div --}}

  {{/each}}

</div> {{!-- multiline column Class closing div --}}