<div class="columns is-multiline">

{{#each playlists}}

<div class="column is-one-third">

  <div class="card mb-5 has-background-grey-light">

    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{image}}" alt="Observation Spot Image">
      </figure>
    </div>

    <div class="card-content">

      <p class="title is-4">
        {{title}}
      </p>

      <p><strong>Description:</strong>{{description}}</p>

      <p><strong>Category:</strong> {{category}}</p>

      <br>

      <a href="/playlist/{{_id}}" class="button is-link is-small">
        View Sightings
      </a>

      <a href="/dashboard/deleteplaylist/{{_id}}" class="button is-danger is-small">
        Delete
      </a>

    </div>

  </div>

</div>

{{/each}}

</div>